@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");

html {
	direction: rtl;
	font-family: "IBM Plex Sans Arabic", sans-serif !important;
}

body {
	margin: 50px 0 !important;
	/* scrollbar-width: none !important; */
	/* overflow: hidden !important; */
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.MuiOutlinedInput-notchedOutline {
	border-color: white !important;
}

.MuiSvgIcon-root {
	color: white !important;
}


.prayers {
	display: flex !important;
	justify-content: space-around !important;
	flex-direction: row!important;
	flex-wrap: wrap!important;
	row-gap: 20px!important;
	column-gap: 8px !important;
}

.prayer-name {
	font-family: "IBM Plex Sans Arabic", sans-serif !important;
	margin-bottom: 15px!important;
}

@media (max-width: 426px) {
	.prayer {
		width: 170px  !important;
	}
	.prayer-name {
		margin-bottom: 10px!important;
		font-size: 24px !important;
		font-weight: bold !important;
	}
	.prayer-time {
		font-size: 20px !important;
		font-weight: bold !important;
	}
}

/* جعل العناصر مركزية على الأجهزة الصغيرة */
/* @media (max-width: 600px) {
	.MuiContainer-root {
			display: flex;
			flex-direction: column;
			align-items: center;
	}
} */


